html {
    scroll-behavior: smooth;
}

.formulario {
    background-color: rgb(255, 255, 255);
    width: 57vh;
    height: auto;
}

.botao {
    background-color:#FABDC1;
    color: #6D9EAF;
    height: 6vh;
    width:  20vh;
}

.botao:hover {
    background-color: #ebddde;
    color: #6DA2B1;
}

input {
    all: unset;
    border-bottom: 2px solid #A6A6A6;
    color: #A6A6A6;
}

.orgSenha i{
    font-size: 16pt;
    position: absolute;
    right: 2%;
    cursor: pointer;
    color: #a6a6a6;
    transform: translateY(-5px);
}

.orgSenha{
    position: relative;
}

.sombra {
    box-shadow: 20px 15px 0px #EBE5E5;
}

.buttonSearch button{
    background-color: #DCF4CA;
    width: 100%;
    max-height: 75px;
    min-height: 75px;
    min-width: 300px;
    color: #6D9EAF;
    font-size: 14pt;
    border-radius: 65px;
}

footer{
    background-color: #F6EFCD;
}

li{
    margin: 8px 0px 8px 0px;
    color: #A6A6A6;
}

form .indicator {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    display: none;
}

form .indicator span {
    width: 100%;
    height: 100%;
    background: lightgray;
    border-radius: 5px;
    position: relative;
}

form .indicator span.medio {
    margin: 0 3px;
}

form .indicator span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FABDC1;
    border-radius: 5px;
}

form .indicator span.active.fraco::before {
    background-color: red;

}

form .indicator span.active.medio::before {
    background-color: yellow;
}

form .indicator span.active.forte::before {
    background-color: green;
}

form .text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -10px;
    display: none;
}

form .text.fraco {
    color: red;
}

form .text.medio {
    color: yellow;
}

form .text.forte {
    color: green;
}

