
@font-face {
    font-family: OpenSans;
    src: url(../Fonts/static/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Negrito;
    src: url(../Fonts/static/OpenSans-Bold.ttf);
    font-weight: bold;
  }
html, body{
    overflow-x: hidden;
    background-color: #FFFBE7;
    color: #a6a6a6;
}
h1, h2, h3{
    font-family: Negrito;

}
p {
    font-family: OpenSans;
    font-size: 12pt;
}


.inputBox{
    width: 80%;
    background-color: #fff;
    box-shadow: 12px 12px 0px 0px rgba(235,229,229,1);
    color: #a6a6a6;
}
input {
    border: 0px;
    border-bottom: 2px solid #b6bbbd;
    border-radius: 0;
    outline: transparent;
    background-color: transparent;
    color: #a6a6a6;
    font-size: 12pt;
    font-weight: 600;
}

input::placeholder{
    color: #A6A6A6;
    font-size: 1rem;
    text-align: left;
}
.button button{
    background-color: #FABDC1;
    max-height: 40px;
    min-height: 40px;
    min-width: 120px;
    width: 10vw;
    color: #6D9EAF;
    font-size: 16pt;
}
.perfilBox{
    height: 350px;
    width: 800px;
    background-color: #fff;
}
.perfilIcon{
    transform: translateY(80px) translateX(20px);

}